<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
</head>
<body>
    <form action="@{/register}" method="post">
        <h1>Registration Form</h1>
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" />

        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" />

        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
    </form>
</body>
</html>